<%- include('boilerplate.ejs') %>
<div class="container">
    <div class="row mt-5">
        <div class="card">
            <div class="card-body">
            <h3 class="card-title mb-3">Login to Manage Your To-Do List</h3>
            <h5 class="card-subtitle mb-3" style="font-weight: normal">Don't have an account with us? <a href="/register">Register</a></h5>
            <div class="card-text"> 
                <form action="/" method="POST">
                    <label class="form-label " for="">UserName</label>
                    <input  class="form-control mb-3" type="text" name="" id="">
                    <label class="form-label" for="">Password</label>
                    <input  class="form-control mb-3" type="password" name="" id="">
                    <button class="btn btn-primary">Login</button>
                </form>
            </div>
            </div>
          </div>
    </div>
</div>

